.screen-header {
  padding: var(--horizetal-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 500;
}
.screen-header__icon span {
  margin-left: 25px;
}

.friend-screen {
  padding: 0 var();
}

.screen-header__icon--sm-badge {
  position: relative;
}
